@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');

body {
    margin: 0;
    background-color: #F8F0DE;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F0DE;
    width: 100%;
    height: 70px;
    gap: 40px;
    border: 2px solid #6b3812;
    margin-bottom: 50px;
    z-index: 1;

}

.navItem {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Fraunces', serif;
    transition: 0.3s;
}

#index {
    padding-top: 90px;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin: 0 20px;
}


.row {
    border: 3px solid #6b3812;
    height: 80vh;
}

.column1 {
    z-index: 1;
    float: left;
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 700;
    color: #6b3812;
}

.column2 {

    margin: auto;
    width: 60%;
    height: 80vh;
    display: flex;
    float: left;
    padding: 20px;
}

.column3 {
    float: right;
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

/* 
.fotoProfil {
    display: flex;
    justify-content: center;
    margin: auto;
} */


.blob1 {
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    z-index: -1;
    align-items: center;
    width: 50%;
    height: 70%;
}

.fotoBlob1 {
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    align-items: center;
    width: 30%;
    left: 540px;
    top: 90px;


}

.tahun {
    border-bottom: 3px solid #6b3812;
}

/* about me */
#about {
    padding-top: 90px;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin: 0 20px;
}

.aboutme {
    display: flex;
    width: 100%;
    padding: 0 60px;
    gap: 40px;
    margin-bottom: 50px;

}

.fotoAbout {
    display: flex;
    height: 80vh;
    padding-left: 30px;
}

.isiabout {
    margin: auto;
    padding-right: 60px;
}

.titleAbout {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 700;
    color: #6b3812;

}

.isiabout p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #6b3812;
    line-height: 1.5;
    margin-bottom: 30px;
}

.isiabout p span {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    font-weight: 700;
    color: #6b3812;
}

.isiabout a {
    border-radius: 25px;
    background-color: #6b3812;
    padding: 0.5em;
    text-decoration: none;
    color: #F8F0DE;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Fraunces', serif;
    transition: 0.3s;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 40px;
    background-color: #6b3912b7;
    gap: 40px;
}

.titleFooter {
    margin: auto;
}

.titleFooter h2 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 700;
    color: #F8F0DE;
}

.titleFooter p {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #F8F0DE;
    line-height: 1;
}

.tubuhFooter {
    display: block;
    margin: auto;
    gap: 10px;
    color: #F8F0DE;
}

.tubuhFooter a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    /* border-radius: 21px; */
    background: #F8F0DE;
    border-radius: 34px;
    /* background: #e0e0e0; */
    box-shadow: 6px 7px 5px #656565, -3px -3px 5px #F8F0DE;
}

.slick-carousel {
    margin: 1rem auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.slick-slide {
    margin: 0 10px;
    height: 400px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-carousel img {
    object-fit: cover;
    height: 350px !important;
    display: block;
    margin: 0 auto;
}

/* Progress Bar Styles */

.slick-dots {
    bottom: 1rem;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.slick-dots li {
    background: #DFDFDF;
    height: 4px;
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 270px;
}

.slick-dots li.slick-active {
    background: #DFDFDF;
    position: relative;
}

.slick-dots li.slick-active:after {
    content: "";
    background-color: #666666;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    animation: progressBar 6s ease-in-out;
    /* <-- match the speed with your slick slider autoplaySpeed !! */
    animation-fill-mode: both;
    z-index: 5;
    top: 0;
}

.slick-dots li button {
    height: 0.5rem;
}

.slick-dots li button:before {
    content: "";
    color: white;
}



/*             contact                 */

.Contact {
    display: flex;
    padding: 90px 50px 50px 10px;
    box-sizing: border-box;
}

.iconContact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 20px;
}

.profileContact {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.chatContact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 20px;
    border: 2px solid #6b3812;
}

.titleContact {
    display: flex;
    justify-content: center;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 700;
    color: #6b3812;
}

.formContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    width: 70%;
    height: 45px;
    border: 2px solid #6b3812;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'DM Sans', sans-serif;
    color: #6b3812;
    border: 2px solid#6b3812;
}

.btn:hover {
    background-color: #F8F0DE;
    color: #6b3812;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 25px;
    border: 2px solid #6b3812;
    background-color: #6b3812;
    padding: 0.5em;
    text-decoration: none;
    color: #F8F0DE;
    font-weight: 600;
    font-size: 20px;
    width: 50%;
    margin: 40px;

    font-family: 'Fraunces', serif;
}

.bubble {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 40px;
    background: #6b3812;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    border-radius: 53px;
}

.bubbleFoto {
    width: 60px;
    height: 50px;
    border-radius: 50%;
}

.bubble h3 {
    display: flex;
    align-items: center;
    color: #F8F0DE;
    font-size: 1em;
    padding: 0 20px;
    font-family: 'DM Sans', sans-serif;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 18px 0;
    border-color: #6b3812 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 25px;
}



/*              project                */

#Project {
    padding-top: 90px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin: auto;
    width: 80%;
}

.containerProject {
    display: grid;
    place-items: center;
    position: relative;
    height: 65vh;
    box-sizing: border-box;
    border: 2px solid #6b3812;
}

.swiper-container {
    border-radius: 5px;
    width: 60vw;
    overflow: hidden;
    font-size: 50px;
    position: relative;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.swiper-slide {
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;
    font-family: Nunito;
    background-color: white;

}

.swiper-slide .ImgHolder {
    background-color: #6b3812;
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px;
    border-bottom-left-radius: 20px;

}

.ContentHolder::before {
    background-color: #6b3812;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    z-index: -1;
    right: 0px;
}

.ContentHolder {
    position: relative;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 20px;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    border: 1px solid #6b3812;
}

.swiper-pagination-bullet-active {
    background-color: #6b3812;
}

.swiper-button {
    border: 1px solid white;
}

#slideHolder :nth-child(odd) {
    top: 50px;

}

.swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    border: 3px solid #6b3812;
    outline: 2px solid white;
}

.swiper-slide h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.swiper-slide p {
    font-size: 0.9rem;
    padding: 5px;
}

#btnProject {
    border: 2px solid #6b3812;
    border-radius: 20px;
    width: 45px;
    height: 70px;
    color: #6b3812;


}

@media (max-width:638px) {
    .swiper-container {
        width: 100%;
    }
}

@media (max-width:500px) {
    .swiper-container {
        width: 70vw;
    }
}

@media (max-width:300px) {
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        border-radius: 0px;
    }

    .swiper-container .ImgHolder {
        border-radius: 0px;
    }

    .ContentHolder {
        border-radius: 0px;
    }
}

/*              blog                */
#blog {
    padding-top: 90px;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin: auto;
    width: 80%;
}

.titleBersama {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 700;
    color: #6b3812;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.bodyBlog {
    border: 2px solid #6b3812;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.cardBlog {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cardBlog img {
    width: 100%;
    max-width: 400px;
    height: 200px;
    /* object-fit: cover; */
}